.navigation_grid_title{
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.navigation_grid_subtitle{
    font-family: monospace;
    text-align: center;
    font-size: 20px;
}

.navigation_grid_item{
    font-family: monospace;
    font-size: 15px;
}
